
<footer class="column">
  <div class="wrap row">
    <div class="logo column">
      <a routerLink="/" href="" class="logo__link">
        <img src="./assets/images/logo-large.svg" class="logo__image">
      </a>
      <div class="payment row">
        <span class="payment__service">
          <i class="fa-brands fa-cc-visa"></i>
        </span>
        <span class="payment__service">
          <i class="fa-brands fa-cc-mastercard"></i>
        </span>
        <span class="payment__service">
          <i class="fa-brands fa-cc-paypal"></i>
        </span>
        <span class="payment__service">
          <i class="fa-brands fa-alipay"></i>
        </span>
      </div>
    </div>
    <div class="follow-us column">
      <h2 class="follow-us__title">Отслеживать нас</h2>
      <div class="follow-us__socials row">
        <a href="#" class="follow-us__link brand column">
          <i class="fa-brands fa-telegram"></i>
        </a>
        <a href="#" class="follow-us__link brand column">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" class="follow-us__link brand column">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="#" class="follow-us__link brand column">
          <i class="fa-brands fa-vk"></i>
        </a>
      </div>
    </div>
    <div class="contacts column">
      <h2 class="contacts__title">Связаться с нами</h2>
      <span class="contacts__phone row">
        <i class="fa-solid fa-phone"></i>
        <a href="tel:+79099099900" class="contacts__link">
          +7 (909) 909-99-00
        </a>
      </span>
      <span class="contacts__email row">
        <i class="fa-solid fa-at"></i>
        <a href="emailto:support@FreedomMobile.ru" class="contacts__link">
          support@FreedomMobile.ru
        </a>
      </span>
    </div>
    <div class="partners column">
      <h2 class="partners__title">Наши партнёры</h2>
      <div class="partners__list row">
        <a href="#" class="partners__link brand column">
          <i class="fa-brands fa-yandex-international"></i>
        </a>
        <a href="#" class="partners__link brand column">
          <i class="fa-brands fa-google"></i>
        </a>
        <a href="#" class="partners__link brand column">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="#" class="partners__link brand column">
          <i class="fa-brands fa-microsoft"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="rights-reserved">
    <p class="rights-reserved__text">Все права защищены © Freedom Mobile</p>
  </div>
</footer>
