
<div class="auth-form wrap column w-100">
  <div class="auth-form__buttons-group row">
    <span class="active-thumb"></span>
    <button class="log-in__toggle toggler row active" onclick="toggleForm(event)" data-button="log-in"><span>Авторизация</span><i class="fa-solid fa-right-to-bracket"></i></button>
    <button class="sign-up__togglde toggler row" onclick="toggleForm(event)" data-button="sign-up"><i class="fa-solid fa-user-plus"></i><span>Регистрация</span></button>
  </div>
  <section class="auth-form__section row">
    <div class="log-in active column">
      <label class="log-in__field row">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" placeholder="Почта" required class="log-in__input">
      </label>
      <label class="log-in__field row">
        <i class="fa-solid fa-key"></i>
        <input type="password" placeholder="Пароль" required class="log-in__input">
      </label>
      <button class="log-in__submit submit" type="submit" data-auth="log-in" onclick="submit(event)">Войти</button>
    </div>
    <div class="sign-up column">
      <label class="sign-up__field row">
        <i class="fa-solid fa-user"></i>
        <input type="text" placeholder="Имя" required class="sign-up__input">
      </label>
      <label class="sign-up__field row">
        <i class="fa-solid fa-phone"></i>
        <input type="phone" placeholder="Телефон" required class="sign-up__input">
      </label>
      <label class="sign-up__field row">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" placeholder="Почта" required class="sign-up__input">
      </label>
      <label class="sign-up__field row">
        <i class="fa-solid fa-key"></i>
        <input type="password" placeholder="Пароль" required class="sign-up__input">
      </label>
      <button class="sign-up__submit submit" type="submit" data-auth="sign-up" onclick="submit(event)">Зарегестрироваться</button>
    </div>
  </section>
</div>

<!-- <script type="text/javascript" src="../static/js/auth.js"></script>
<script type="text/javascript" src="../static/js/submit.js"></script>
<script type="text/javascript" src="../static/js/header.js"></script> -->
