<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
	<script src="https://kit.fontawesome.com/060207939c.js" crossorigin="anonymous"></script>
	<title>Авторизация</title>
</head>
<body>
	<div class="shadow-top-left"></div>
	<div class="shadow-bottom"></div>
	<header>
		<nav class="navigation row">
			<a href="home.html" class="navigation__logo row">
				<img src="assets/img/freedom-mobile-low-resolution-logo-color-on-transparent-background.png" alt="Логотип" class="navigation__logo-large">
			</a>
			<div class="navigation__menu row">
				<a href="#" class="navigation__menu-link row"><i class="fa-solid fa-store"></i><p>Каталог</p></a>
				<a href="#" class="navigation__menu-link row"><i class="fa-solid fa-cart-shopping"></i><p>Корзина</p></a>
				<a href="auth.html" class="navigation__menu-link row"><i class="fa-solid fa-circle-user"></i><p>Личный кабинет</p></a>
				<a href="#" class="navigation__menu-link row exit"><i class="fa-solid fa-right-from-bracket"></i><p>Выход</p></a>
			</div>
		</nav>
	</header>
	<main class="auth-form column w-100">
		<div class="auth-form__buttons-group row">
			<span class="active-thumb"></span>
			<button class="log-in__toggle toggler row active" onclick="toggleForm(event)" data-button="log-in"><span>Авторизация</span><i class="fa-solid fa-right-to-bracket"></i></button>
			<button class="sign-up__toggle toggler row" onclick="toggleForm(event)" data-button="sign-up"><i class="fa-solid fa-user-plus"></i><span>Регистрация</span></button>
		</div>
		<section class="auth-form__section row">
			<div class="log-in active column">
				<span class="log-in__field row">
					<i class="fa-solid fa-envelope"></i>
					<input type="email" placeholder="Почта" required class="log-in__input">
				</span>
				<span class="log-in__field row">
					<i class="fa-solid fa-key"></i>
					<input type="password" placeholder="Пароль" required class="log-in__input">
				</span>
				<button class="log-in__submit submit">Войти</button>
			</div>
			<div class="sign-up column">
				<span class="log-in__field row">
					<i class="fa-solid fa-user"></i>
					<input type="text" placeholder="Имя" required class="log-in__input">
				</span>
				<span class="log-in__field row">
					<i class="fa-solid fa-phone"></i>
					<input type="phone" placeholder="Телефон" required class="log-in__input">
				</span>
				<span class="log-in__field row">
					<i class="fa-solid fa-envelope"></i>
					<input type="email" placeholder="Почта" required class="log-in__input">
				</span>
				<span class="log-in__field row">
					<i class="fa-solid fa-key"></i>
					<input type="password" placeholder="Пароль" required class="log-in__input">
				</span>
				<button class="sign-up__submit submit">Зарегестрироваться</button>
			</div>
		</section>
	</main>
	<footer></footer>
	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
