<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
	<script src="https://kit.fontawesome.com/060207939c.js" crossorigin="anonymous"></script>
	<title>Авторизация</title>
</head>
<body>
	<div class="shadow-top-left"></div>
	<div class="shadow-bottom"></div>
	<header>
		<nav class="navigation wrap row">
			<a href="home.html" class="navigation__logo row">
				<img src="assets/img/freedom-mobile-low-resolution-logo-color-on-transparent-background.png" alt="Freedom Mobile"  class="navigation__logo">
			</a>
			<div class="navigation__menu row">
				<a href="#" class="navigation__menu-link row"><i class="fa-solid fa-store"></i><p>Каталог</p></a>
				<a href="#" class="navigation__menu-link row"><i class="fa-solid fa-cart-shopping"></i><p>Корзина</p></a>
				<a href="auth.html" class="navigation__menu-link row"><i class="fa-solid fa-circle-user"></i><p>Личный кабинет</p></a>
				<a href="#" class="navigation__menu-link row exit"><i class="fa-solid fa-right-from-bracket"></i><p>Выход</p></a>
			</div>
		</nav>
	</header>
	<main class="auth-form wrap column w-100">
		<div class="auth-form__buttons-group row">
			<span class="active-thumb"></span>
			<button class="log-in__toggle toggler row active" onclick="toggleForm(event)" data-button="log-in"><span>Авторизация</span><i class="fa-solid fa-right-to-bracket"></i></button>
			<button class="sign-up__toggle toggler row" onclick="toggleForm(event)" data-button="sign-up"><i class="fa-solid fa-user-plus"></i><span>Регистрация</span></button>
		</div>
		<section class="auth-form__section row">
			<div class="log-in active column">
				<span class="log-in__field row">
					<i class="fa-solid fa-envelope"></i>
					<input type="email" placeholder="Почта" required class="log-in__input">
				</span>
				<span class="log-in__field row">
					<i class="fa-solid fa-key"></i>
					<input type="password" placeholder="Пароль" required class="log-in__input">
				</span>
				<button class="log-in__submit submit">Войти</button>
			</div>
			<div class="sign-up column">
				<span class="log-in__field row">
					<i class="fa-solid fa-user"></i>
					<input type="text" placeholder="Имя" required class="log-in__input">
				</span>
				<span class="log-in__field row">
					<i class="fa-solid fa-phone"></i>
					<input type="phone" placeholder="Телефон" required class="log-in__input">
				</span>
				<span class="log-in__field row">
					<i class="fa-solid fa-envelope"></i>
					<input type="email" placeholder="Почта" required class="log-in__input">
				</span>
				<span class="log-in__field row">
					<i class="fa-solid fa-key"></i>
					<input type="password" placeholder="Пароль" required class="log-in__input">
				</span>
				<button class="sign-up__submit submit">Зарегестрироваться</button>
			</div>
		</section>
	</main>
	<footer class="column">
		<div class="wrap row">
			<div class="logo column">
				<img src="assets/img/freedom-mobile-low-resolution-logo-color-on-transparent-background.png" class="logo__image">
				<div class="payment row">
					<span class="payment__service">
						<i class="fa-brands fa-cc-visa"></i>
					</span>
					<span class="payment__service">
						<i class="fa-brands fa-cc-mastercard"></i>
					</span>
					<span class="payment__service">
						<i class="fa-brands fa-cc-paypal"></i>
					</span>
					<span class="payment__service">
						<i class="fa-brands fa-alipay"></i>
					</span>
				</div>
			</div>
			<div class="follow-us column">
				<h2 class="follow-us__title">Отслеживать нас</h2>
				<div class="follow-us__socials row">
					<a href="#" class="follow-us__link brand column">
						<i class="fa-brands fa-telegram"></i>
					</a>
					<a href="#" class="follow-us__link brand column">
						<i class="fa-brands fa-instagram"></i>
					</a>
					<a href="#" class="follow-us__link brand column">
						<i class="fa-brands fa-youtube"></i>
					</a>
					<a href="#" class="follow-us__link brand column">
						<i class="fa-brands fa-vk"></i>
					</a>
				</div>
			</div>
			<div class="contacts column">
				<h2 class="contacts__title">Связаться с нами</h2>
				<span class="contacts__phone row">
					<i class="fa-solid fa-phone"></i>
					<a href="tel:+79099099900" class="contacts__link">
						+7 (909) 909-99-00
					</a>
				</span>
				<span class="contacts__email row">
					<i class="fa-solid fa-at"></i>
					<a href="#" class="contacts__link">
						support@FreedomMobile.ru
					</a>
				</span>
			</div>
			<div class="partners column">
				<h2 class="partners__title">Наши партнёры</h2>
				<div class="partners__list row">
					<a href="#" class="partners__link brand column">
						<i class="fa-brands fa-yandex-international"></i>
					</a>
					<a href="#" class="partners__link brand column">
						<i class="fa-brands fa-google"></i>
					</a>
					<a href="#" class="partners__link brand column">
						<i class="fa-brands fa-github"></i>
					</a>
					<a href="#" class="partners__link brand column">
						<i class="fa-brands fa-microsoft"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="rights-reserved">
			<p class="rights-reserved__text">Все права защищены © Freedom Mobile</p>
		</div>
	</footer>
	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
