<!DOCTYPE html>
<!-- {%load static%} -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}"> -->
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <script src="https://kit.fontawesome.com/060207939c.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../static/img/logo-head.png" type="image/png">
  <title>Каталог</title>
</head>

<body>
  <div class="shadow-top-left"></div>
  <div class="shadow-bottom"></div>
  <header>
    <nav class="navigation wrap row">
      <a href="home.html" class="navigation__logo row">
        <img src="../static/img/logo-large.svg" alt="Freedom Mobile" class="navigation__logo-large">
        <img src="../static/img/logo-small.svg" alt="Freedom Mobile" class="navigation__logo-small">
      </a>
      <div class="navigation__menu row">
        <a href="catalog.html" class="navigation__menu-link row"><i class="fa-solid fa-store"></i>
          <p>Каталог</p>
        </a>
        <a href="#" class="navigation__menu-link row"><i class="fa-solid fa-cart-shopping"></i>
          <p>Корзина</p>
        </a>
        <a href="auth.html" class="navigation__menu-link row"><i class="fa-solid fa-circle-user"></i>
          <p>Личный кабинет</p>
        </a>
        <a href="#" class="navigation__menu-link row exit"><i class="fa-solid fa-right-from-bracket"></i>
          <p>Выход</p>
        </a>
      </div>
    </nav>
  </header>
  <main>
    <div class="catalog wrap column">
      <div class="card row">
        <div class="card__image column">
          <img src="../static/img/OnePlus10Pro.webp">
        </div>
        <div class="card__info row">
          <div class="card__item column">
            <h3 class="card__item-name">
              Смартфон OnePlus 10 Pro
            </h3>
            <ul class="card__item__prop">
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Экран: 
                </span>
                <span class="card__item__prop-value">
                  6.7" (3216x1440) AMOLED 120 Гц
                </span>
              </li>
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Фото: 
                </span>
                <span class="card__item__prop-value">
                  3 камеры, основная 48 МП
                </span>
              </li>
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Аккумулятор: 
                </span>
                <span class="card__item__prop-value">
                  5000 мА·ч
                </span>
              </li>
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Процессор: 
                </span>
                <span class="card__item__prop-value">
                  Qualcomm Snapdragon 8 Gen1 
                </span>
              </li>
            </ul>
          </div>
          <div class="card__action column">
            <h4 class="card__action-title">
              <span class="card__action-price">39690</span>
              <i class="fa-solid fa-ruble-sign"></i>
            </h4>
            <button class="card__action-button">В корзину</button>
          </div>
        </div>
      </div>
      <div class="card row">
        <div class="card__image column">
          <img src="../static/img/RealmeGT.webp">
        </div>
        <div class="card__info row">
          <div class="card__item column">
            <h3 class="card__item-name">
              Смартфон realme GT Master Edition
            </h3>
            <ul class="card__item__prop">
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Экран: 
                </span>
                <span class="card__item__prop-value">
                  6.43" (2400x1080) Super AMOLED 120 Гц
                </span>
              </li>
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Фото: 
                </span>
                <span class="card__item__prop-value">
                  3 камеры, основная 64 МП
                </span>
              </li>
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Аккумулятор: 
                </span>
                <span class="card__item__prop-value">
                  4300 мА·ч
                </span>
              </li>
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Процессор: 
                </span>
                <span class="card__item__prop-value">
                  Qualcomm Snapdragon 778G 5G 
                </span>
              </li>
            </ul>
          </div>
          <div class="card__action column">
            <h4 class="card__action-title">
              <span class="card__action-price">17970</span>
              <i class="fa-solid fa-ruble-sign"></i>
            </h4>
            <button class="card__action-button">В корзину</button>
          </div>
        </div>
      </div>
      <div class="card row">
        <div class="card__image column">
          <img src="../static/img/Iphone12ProMax.webp">
        </div>
        <div class="card__info row">
          <div class="card__item column">
            <h3 class="card__item-name">
              Смартфон Apple iPhone 12 Pro Max
            </h3>
            <ul class="card__item__prop">
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Экран: 
                </span>
                <span class="card__item__prop-value">
                  6.7" (2778x1284) OLED 60 Гц
                </span>
              </li>
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Фото: 
                </span>
                <span class="card__item__prop-value">
                  3 камеры, основная 12 МП
                </span>
              </li>
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Аккумулятор: 
                </span>
                <span class="card__item__prop-value">
                  3687 мА·ч
                </span>
              </li>
              <li class="card__item__prop-row">
                <span class="card__item__prop-name">
                  Процессор: 
                </span>
                <span class="card__item__prop-value">
                  Apple A14 Bionic
                </span>
              </li>
            </ul>
          </div>
          <div class="card__action column">
            <h4 class="card__action-title">
              <span class="card__action-price">78800</span>
              <i class="fa-solid fa-ruble-sign"></i>
            </h4>
            <button class="card__action-button">В корзину</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="column">
    <div class="wrap row">
      <div class="logo column">
        <img src="../static/img/logo-large.svg" class="logo__image">
        <div class="payment row">
          <span class="payment__service">
            <i class="fa-brands fa-cc-visa"></i>
          </span>
          <span class="payment__service">
            <i class="fa-brands fa-cc-mastercard"></i>
          </span>
          <span class="payment__service">
            <i class="fa-brands fa-cc-paypal"></i>
          </span>
          <span class="payment__service">
            <i class="fa-brands fa-alipay"></i>
          </span>
        </div>
      </div>
      <div class="follow-us column">
        <h2 class="follow-us__title">Отслеживать нас</h2>
        <div class="follow-us__socials row">
          <a href="#" class="follow-us__link brand column">
            <i class="fa-brands fa-telegram"></i>
          </a>
          <a href="#" class="follow-us__link brand column">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" class="follow-us__link brand column">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="#" class="follow-us__link brand column">
            <i class="fa-brands fa-vk"></i>
          </a>
        </div>
      </div>
      <div class="contacts column">
        <h2 class="contacts__title">Связаться с нами</h2>
        <span class="contacts__phone row">
          <i class="fa-solid fa-phone"></i>
          <a href="tel:+79099099900" class="contacts__link">
            +7 (909) 909-99-00
          </a>
        </span>
        <span class="contacts__email row">
          <i class="fa-solid fa-at"></i>
          <a href="#" class="contacts__link">
            support@FreedomMobile.ru
          </a>
        </span>
      </div>
      <div class="partners column">
        <h2 class="partners__title">Наши партнёры</h2>
        <div class="partners__list row">
          <a href="#" class="partners__link brand column">
            <i class="fa-brands fa-yandex-international"></i>
          </a>
          <a href="#" class="partners__link brand column">
            <i class="fa-brands fa-google"></i>
          </a>
          <a href="#" class="partners__link brand column">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="#" class="partners__link brand column">
            <i class="fa-brands fa-microsoft"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="rights-reserved">
      <p class="rights-reserved__text">Все права защищены © Freedom Mobile</p>
    </div>
  </footer>
  <script type="text/javascript" src="../static/js/header.js"></script>
</body>

</html>