<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{%static 'css/index.css'%}"}>
	<script src="https://kit.fontawesome.com/060207939c.js" crossorigin="anonymous"></script>
	<title>Авторизация</title>
</head>
<body>
	<div class="shadow-top-left"></div>
	<div class="shadow-bottom"></div>
	<header>
		<nav class="navigation row">
			<a href="home.html" class="navigation__logo row">
				<img src="assets/img/freedom-mobile-low-resolution-logo-color-on-transparent-background.png" alt="Логотип" class="navigation__logo-large">
			</a>
			<div class="navigation__menu row">
				<a href="#" class="navigation__menu-link row"><i class="fa-solid fa-store"></i><p>Каталог</p></a>
				<a href="#" class="navigation__menu-link row"><i class="fa-solid fa-cart-shopping"></i><p>Корзина</p></a>
				<a href="auth.html" class="navigation__menu-link row"><i class="fa-solid fa-circle-user"></i><p>Личный кабинет</p></a>
				<a href="#" class="navigation__menu-link row exit"><i class="fa-solid fa-right-from-bracket"></i><p>Выход</p></a>
			</div>
		</nav>
	</header>
	<main class="auth-form column w-100">
		
	</main>
	<footer></footer>
	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
