<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
	<title>Авторизация</title>
</head>
<body>
	<header>
		<nav class="navigation row">
			<a href="#" class="navigation__logo">
				<img src="assets/img/freedom-mobile-low-resolution-logo-color-on-transparent-background.png" alt="Логотип" class="navigation__logo-large">
				<!-- <img src="img/freedom-mobile-logo.png" alt="" class="navigation__logo-small"> -->
			</a>
			<div class="navigation__menu">
				<a href="#" class="navigation__menu-link">Каталог</a>
				<a href="#" class="navigation__menu-link">Корзина</a>
				<a href="#" class="navigation__menu-link">Личный кабинет</a>
			</div>
		</nav>
	</header>
	<main></main>
	<footer></footer>
</body>
</html>
