<div class="shadow-top-left"></div>
<div class="shadow-bottom"></div>
<div class="home wrap row w-100">
  <div class="home__block-info column">
    <h4 class="home__subtitle">Мы обеспечиваем качество, на которое вы рассчитываете</h4>
    <h1 class="home__title">
      <span class="typing">{{company}}</span>
    </h1>
    <button routerLink="/catalog" routerLinkActive="active" class="home__go-shopping">Перейти к покупкам</button>
  </div>
  <img src="assets/images/top-iphone.webp" class="home__image">
</div>
