@import "../fonts/Mazzart/stylesheet.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mazzard M", sans-serif;
}
*::-moz-selection, *::selection {
  color: rgb(255, 255, 255) !important;
  background: #5470f0;
}

html {
  width: 100%;
  height: 100%;
  background-color: #040123;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(122.93deg, #7345D3 -137.34%, #5470F0 38.32%, #1858CD 129.02%);
  border-radius: 0.25rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.wrap {
  width: 100%;
  min-width: 20rem;
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}

button, a {
  cursor: pointer;
  text-decoration: none;
}

main {
  flex: 1 0 auto;
  padding: 2rem 0;
  position: relative;
  color: #fff;
}

footer {
  flex: 0 0 auto;
}

header {
  padding: 2rem 0;
  width: 100%;
  transition: all 0.3s;
}
header .navigation {
  justify-content: space-between;
  align-items: center;
}
header .navigation__logo-large {
  width: 12rem;
  display: block;
}
header .navigation__logo-small {
  width: 1.625rem;
  display: none;
}
header .navigation__menu {
  gap: 1rem;
}
header .navigation__menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
  padding: 0.625rem 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.125rem;
  position: relative;
}
header .navigation__menu-link::before {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.002px;
  height: 0.002px;
  box-shadow: 0 0 50px 15px #5470f0;
  opacity: 0;
}
header .navigation__menu-link p {
  position: absolute;
  top: 85%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 0.375rem;
  vertical-align: text-bottom;
  opacity: 0;
}
header .navigation__menu-link i {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.125rem;
}
header .navigation__menu-link:hover p {
  transform: translateY(5px);
  opacity: 1;
}
header .navigation__menu-link:hover::before {
  opacity: 1;
}
header .navigation__menu-link.exit:hover {
  color: #ff5290;
}

footer {
  color: #fff;
}
footer .wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 4rem;
}
footer .wrap .logo__image {
  width: 10rem;
  margin-bottom: 2rem;
}
footer .wrap .payment {
  justify-content: space-between;
}
footer .wrap .payment__service {
  font-size: 2rem;
  text-shadow: 0 0 5px #5470f0;
}
footer .wrap .follow-us__title, footer .wrap .contacts__title, footer .wrap .partners__title {
  margin-bottom: 2rem;
}
footer .wrap .follow-us__link, footer .wrap .contacts__link, footer .wrap .partners__link {
  color: #5470f0;
  font-size: 1.25rem;
}
footer .wrap .contacts__phone, footer .wrap .contacts__email {
  color: #5470f0;
  font-size: 1.25rem;
}
footer .wrap .contacts__link {
  color: #fff;
  font-size: 1.125rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(122.93deg, #7345D3 -137.34%, #5470F0 38.32%, #1858CD 129.02%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0% 0.125rem;
  transition: background-size 0.3s ease-in;
}
footer .wrap .contacts__link:hover {
  background-position: 0% 100%;
  background-size: 100% 0.125rem;
}
footer .rights-reserved {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background: #06001D;
}
footer .rights-reserved__text {
  text-align: center;
}
footer .brand {
  align-items: center;
  justify-content: center;
  width: 2.938rem;
  height: 2.938rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
footer .brand:not(:last-child) {
  margin-right: 1.25rem;
}
footer .brand:hover {
  box-shadow: 0 0 10px #5470f0;
}

main .auth-form {
  align-items: center;
  overflow: hidden;
  gap: 2rem;
}
main .auth-form .active-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding: 0.625rem 1rem;
  border-radius: 3.75rem 0 0 3.75rem;
  background: linear-gradient(122.93deg, #7345D3 -137.34%, #5470F0 38.32%, #1858CD 129.02%);
  transition: all 0.3s;
  z-index: 2;
}
main .auth-form .active-thumb.right {
  transform: translateX(100%);
  border-radius: 0 3.75rem 3.75rem 0;
}
main .auth-form__buttons-group {
  position: relative;
  border-radius: 3.75rem;
  justify-self: center;
  background: transparent;
  border: 0.0625rem solid #5470f0;
}
main .auth-form__buttons-group .toggler {
  width: 13rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  background: transparent;
  color: #fff;
  font-size: 1.125rem;
  border: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}
main .auth-form__buttons-group .toggler > span {
  line-height: 1.125rem;
  font-weight: 600;
}
main .auth-form__section {
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  justify-content: center;
  width: 26rem;
  height: 26rem;
  perspective: 40rem;
}
main .auth-form__line {
  padding: 0 0.0625rem;
  background: #5470f0;
  z-index: 10;
}
main .auth-form .log-in {
  opacity: 0;
}
main .auth-form .log-in__toggle {
  border-radius: 3.75rem 0 0 3.75rem;
}
main .auth-form .log-in.active {
  opacity: 1;
}
main .auth-form .sign-up {
  opacity: 0;
}
main .auth-form .sign-up__toggle {
  border-radius: 0 3.75rem 3.75rem 0;
}
main .auth-form .sign-up.active {
  opacity: 1;
}
main .auth-form .sign-up {
  transform: rotateY(180deg);
}
main .auth-form .sign-up.active {
  transform: rotateY(0deg);
}
main .auth-form .log-in {
  transform: rotateY(180deg);
}
main .auth-form .log-in.active {
  transform: rotateY(360deg);
}
main .auth-form .submit {
  background-image: linear-gradient(122.93deg, #7345D3 -137.34%, #5470F0 38.32%, #1858CD 129.02%);
  color: #fff;
  border: 0.0625rem solid #5470f0;
  outline: none;
  font-size: 1.125rem;
  height: 3rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
main .auth-form .log-in, main .auth-form .sign-up {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 1rem;
}
main .auth-form .log-in__field, main .auth-form .log-in__submit, main .auth-form .sign-up__field, main .auth-form .sign-up__submit {
  margin-top: 1rem;
  border-radius: 3.75rem;
  width: 18rem;
  font-size: 1.125rem;
}
main .auth-form .log-in__field, main .auth-form .sign-up__field {
  background: #fff;
  align-items: center;
  color: rgba(0, 0, 0, 0.4352941176);
  padding: 0 1rem;
}
main .auth-form .log-in__field.invalid, main .auth-form .sign-up__field.invalid {
  animation: shake 0.5s;
}
main .auth-form .log-in__field.invalid > *, main .auth-form .sign-up__field.invalid > * {
  color: #b30000;
}
main .auth-form .log-in__input, main .auth-form .sign-up__input {
  color: #000;
  width: 14.125rem;
  margin-left: 0.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 0.875rem 0;
}

.shadow-top-left {
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: -35rem;
  left: -35rem;
  z-index: 100;
  border-radius: 50%;
  box-shadow: 20rem 20rem 30rem #5470f0;
}

.shadow-bottom {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: 0;
  right: -100vh;
  border-radius: 50%;
  z-index: 100;
  box-shadow: -1vw 0 25rem #5470f0;
}

.main::before {
  width: 0.625rem;
  height: 0.625rem;
  position: absolute;
  opacity: 0.8;
  top: -15%;
  left: -15%;
  content: url(../img/Ellipse_29.svg);
}
.main::after {
  position: absolute;
  opacity: 0.8;
  top: -5%;
  right: -5%;
  content: url(../img/Ellipse_13.svg);
}

main .home {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 25rem;
  color: #fff;
  justify-content: space-between;
}
main .home::before {
  width: 0.625rem;
  height: 0.625rem;
  position: absolute;
  opacity: 0.8;
  top: -15%;
  left: -15%;
  content: url(../img/Ellipse_29.svg);
}
main .home::after {
  position: absolute;
  opacity: 0.8;
  top: -5%;
  left: -5%;
  content: url(../img/Ellipse_13.svg);
}
main .home__block-info {
  position: relative;
  justify-content: space-around;
}
main .home__block-info::before {
  width: 3.25rem;
  height: 3.25rem;
  position: absolute;
  opacity: 0.8;
  top: 5rem;
  left: -5rem;
  content: url(../img/Vector_14.svg);
}
main .home__subtitle {
  font-size: 1.25rem;
}
main .home__title {
  z-index: 3;
  position: relative;
  font-size: 5rem;
  min-height: 5.938rem;
  margin: 1rem auto 0 0;
  display: inline;
  word-wrap: break-word;
}
main .home__title::before {
  position: absolute;
  top: -1.75rem;
  left: -4rem;
  z-index: -1;
  content: url(../img/Vector.svg);
}
main .home__go-shopping {
  width: 13rem;
  height: 3.125rem;
  padding: 0.625rem 1rem;
  outline: line;
  border: none;
  border-radius: 3.75rem;
  background: linear-gradient(122.93deg, #7345D3 -137.34%, #5470F0 38.32%, #1858CD 129.02%);
  color: #fff;
  font-size: 1rem;
  line-height: 0.9rem;
}
main .home__image {
  position: absolute;
  z-index: -1;
  right: 0;
  margin-right: 2rem;
  overflow: hidden;
  align-self: center;
}

.typing::after {
  animation: blink 0.8s infinite;
  padding: 0 0.15rem;
  content: "";
  background: #5470f0;
}

@keyframes blink {
  50% {
    background: transparent;
  }
}
main .catalog .card {
  overflow: hidden;
  color: #fff;
  justify-content: space-between;
  border-radius: 1rem;
  background: linear-gradient(45deg, #1b1733 0%, #070422 100%);
}
main .catalog .card:not(:last-child) {
  margin-bottom: 2rem;
}
main .catalog .card__image {
  flex-shrink: 1;
  max-width: 12.5rem;
  max-height: 12.5rem;
  margin-right: 1rem;
}
main .catalog .card__image img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
main .catalog .card__info {
  flex-grow: 1;
  justify-content: space-between;
}
main .catalog .card__item {
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 0;
  padding-left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
main .catalog .card__item-name {
  cursor: default;
  background: -webkit-linear-gradient(75deg, #5470f0 10%, rgb(120, 135, 255) 30%, rgb(220, 133, 246) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
main .catalog .card__item__prop {
  list-style: none;
  padding: 0.5rem 0 0.5rem 1rem;
  position: relative;
}
main .catalog .card__item__prop-row {
  line-height: 1.5rem;
  position: relative;
}
main .catalog .card__item__prop-row::before {
  left: -1rem;
  top: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  content: "";
  background-image: url(../img/list_point.svg);
}
main .catalog .card__item__prop-name {
  cursor: default;
  background: -webkit-linear-gradient(75deg, #5470f0 10%, rgb(120, 135, 255) 30%, rgb(220, 133, 246) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
main .catalog .card__action {
  padding: 1rem;
  justify-content: space-between;
}
main .catalog .card__action-title {
  cursor: default;
  background: -webkit-linear-gradient(75deg, #5470f0 10%, rgb(120, 135, 255) 30%, rgb(220, 133, 246) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
main .catalog .card__action-price {
  font-size: 2rem;
}
main .catalog .card__action-button {
  width: 9rem;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.5rem;
  color: inherit;
  background: linear-gradient(122.93deg, #7345D3 -137.34%, #5470F0 38.32%, #1858CD 129.02%);
  outline: none;
  border: none;
  border-radius: 3.75rem;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
main .catalog .card__action-button:active {
  transform: scale(0.97);
}

.cart {
  gap: 1rem;
}
.cart .empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart .empty__title {
  cursor: default;
  background: -webkit-linear-gradient(75deg, #5470f0 10%, rgb(120, 135, 255) 30%, rgb(220, 133, 246) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.cart .empty__subtitle {
  font-size: 1.0625rem;
}
.cart .empty__button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(122.93deg, #7345D3 -137.34%, #5470F0 38.32%, #1858CD 129.02%);
  margin: 1rem 0 0;
}
.cart .list {
  width: 70%;
  gap: 1.25rem;
}
.cart .product__image {
  border-radius: 1rem;
  width: 8rem;
}
.cart .product__info {
  justify-content: space-between;
  position: relative;
  padding: 0.5rem 1rem;
  width: 100%;
}
.cart .product__head, .cart .product__footer {
  justify-content: space-between;
  align-items: center;
}
.cart .product__action {
  justify-content: space-between;
}
.cart .product:hover .product__buttons-text {
  opacity: 1;
  transform: translateX(0);
  width: 6rem;
}
.cart .product__buttons-group {
  align-items: center;
  gap: 1rem;
}
.cart .product__check, .cart .product__remove {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.5rem;
}
.cart .product__check.active, .cart .product__remove.active {
  color: #5470f0;
}
.cart .product__check i, .cart .product__remove i {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cart .product__buttons-text {
  width: 0;
  transition: all 0.3s;
  transform: translateX(-30%);
  position: relative;
  font-size: 1rem;
  opacity: 0;
}
.cart .product__remove:hover {
  color: #ff5290;
}
.cart .product__remove:hover i {
  animation: shake infinite 0.7s;
}
.cart .product__check:not(.active):hover {
  color: #5470f0;
}
.cart .product__check:not(.active):hover i {
  animation: bounce infinite 0.7s;
}
.cart .product__name {
  font-size: 1.25rem;
  cursor: default;
  background: -webkit-linear-gradient(75deg, #5470f0 10%, rgb(120, 135, 255) 30%, rgb(220, 133, 246) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.cart .product__cost {
  font-size: 0.75rem;
}
.cart .product__price {
  font-size: 1.2rem;
}
.cart .product__counter {
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  width: 3rem;
  color: #fff;
  outline: none;
  border: none;
  text-align: right;
  background: rgba(255, 255, 255, 0.08);
}
.cart .product__plus, .cart .product__minus {
  color: #fff;
  background: linear-gradient(122.93deg, #7345D3 -137.34%, #5470F0 38.32%, #1858CD 129.02%);
  padding: 0.25rem 0.75rem;
  border: none;
  outline: none;
}
.cart .product__plus > *, .cart .product__minus > * {
  font-size: 1rem;
}
.cart .product__plus:disabled, .cart .product__minus:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.cart .product__minus {
  border-radius: 0.75rem 0 0 0.75rem;
}
.cart .product__plus {
  border-radius: 0 0.75rem 0.75rem 0;
}
.cart .total {
  width: 30%;
  gap: 1rem;
  position: sticky;
  top: 2rem;
  align-self: flex-start;
}
.cart .total__buy {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(122.93deg, #7345D3 -137.34%, #5470F0 38.32%, #1858CD 129.02%);
  box-shadow: 0 0 10px #5470f0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cart .total__buy:hover {
  box-shadow: 0 0 200px #5470f0;
}
.cart .total__card {
  padding: 2rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.08);
}
.cart .total__title {
  margin-top: 0.25rem;
  cursor: default;
  background: -webkit-linear-gradient(75deg, #5470f0 10%, rgb(120, 135, 255) 30%, rgb(220, 133, 246) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-size: 1rem;
}
.cart .total__name, .cart .total__sum {
  font-size: 1.75rem;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0);
  }
  40%, 80% {
    transform: rotate(-15deg);
  }
  20%, 60% {
    transform: rotate(15deg);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  10% {
    -webkit-transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
    transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
  }
  30% {
    -webkit-transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
    transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
  }
  50% {
    -webkit-transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
    transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
  }
  57% {
    -webkit-transform: scale(1) translateY(var(--fa-bounce-rebound, -0.125em));
    transform: scale(1) translateY(var(--fa-bounce-rebound, -0.125em));
  }
  64% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
}
@media (max-width: 768px) {
  header .navigation__logo-large {
    width: 10rem;
  }
  header .navigation__menu {
    width: 40%;
    justify-content: space-between;
  }
  header .navigation__menu-link {
    padding: 0.5rem;
  }
  header .navigation__menu-link p {
    display: none;
  }
  header .navigation__menu-link i {
    font-size: 1.25rem;
  }
  main .home__image {
    display: none;
  }
  main .catalog .card__image {
    max-width: 10rem;
    max-height: 10rem;
  }
  main .catalog .card__info {
    flex-direction: column;
  }
  main .catalog .card__item {
    padding: 0.75rem 0.75rem 0 0;
  }
  main .catalog .card__item__prop-row {
    line-height: 1rem;
    font-size: 0.8rem;
  }
  main .catalog .card__item__prop-row::before {
    top: 0.1rem;
  }
  main .catalog .card__action {
    align-items: center;
    flex-direction: row;
    padding: 0 0.75rem 0.75rem 0;
  }
  main .catalog .card__action-price {
    font-size: 1.5rem;
  }
  footer .wrap {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .shadow-top-left, .shadow-bottom {
    display: none;
  }
  header.hide {
    top: -47px !important;
  }
  header {
    justify-content: flex-start;
    position: fixed;
    padding: 0.325rem 0;
    top: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
  }
  header .navigation {
    width: 100%;
  }
  header .navigation__logo-large {
    display: none;
  }
  header .navigation__logo-small {
    display: block;
  }
  header .navigation__menu {
    width: 80%;
    justify-content: space-around;
  }
  header .navigation__menu-link {
    border: none !important;
    padding: 0.5rem;
    font-size: 1rem;
  }
  main {
    height: 100%;
    margin-top: 3rem !important;
  }
  main .auth-form__buttons-group {
    width: 100%;
    justify-content: space-between;
  }
  main .auth-form__buttons-group .toggler {
    padding: 0.625rem 1rem;
    justify-content: center;
    width: 50%;
  }
  main .auth-form__buttons-group .toggler > span {
    display: none;
  }
  main .home__subtitle {
    font-size: 1rem;
  }
  main .home__title {
    font-size: 4.5rem;
  }
  main .home__image {
    display: none;
  }
  main .catalog .card:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  main .catalog .card__image {
    max-width: 6rem;
    max-height: 6rem;
  }
  main .catalog .card__item {
    padding: 0.5rem 0.5rem 0 0;
  }
  main .catalog .card__item-name {
    font-size: 0.8rem;
  }
  main .catalog .card__item__prop {
    display: none;
  }
  main .catalog .card__action {
    padding: 0 0.5rem 0.5rem 0;
  }
  main .catalog .card__action-title {
    font-size: 0.625rem;
  }
  main .catalog .card__action-price {
    font-size: 1rem;
  }
  main .catalog .card__action-button {
    width: 5.5rem;
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=index.css.map */
