header
    padding: 2rem 0

    .navigation
        justify-content: space-between
        align-items: center

        &__logo

            &-large
                width: 12rem

        &__menu

            &-link
                color: #f1f1f1
                padding: 1rem
                transition: all .3s

                &:last-child
                    padding-right: 0

                span
                    margin-left: .375rem

                &:hover
                    color: $primary-color


                &.exit:hover
                    color: $dangerous-color
