
<header>
  <nav class="navigation wrap row">
    <a routerLink="/" routerLinkActive="active" class="navigation__logo row">
      <img src="./assets/img/logo-large.svg" alt="Freedom Mobile" class="navigation__logo-large">
      <img src="./assets/img/logo-small.svg" alt="Freedom Mobile" class="navigation__logo-small">
    </a>
    <div class="navigation__menu row">
      <a routerLink="/catalog" routerLinkActive="active" class="navigation__menu-link row"><i class="fa-solid fa-store"></i>
        <p>Каталог</p>
      </a>
      <a routerLink="/cart" class="navigation__menu-link row"><i class="fa-solid fa-cart-shopping"></i>
        <p>Корзина</p>
      </a>
      <a routerLink="/auth" routerLinkActive="active" class="navigation__menu-link row"><i class="fa-solid fa-circle-user"></i>
        <p>Личный кабинет</p>
      </a>
      <a href="#" class="navigation__menu-link row exit"><i class="fa-solid fa-right-from-bracket"></i>
        <p>Выход</p>
      </a>
    </div>
  </nav>
</header>
