
<div class="catalog wrap column">
  <div class="card row">
    <div class="card__image column">
      <img src="./assets/img/OnePlus10Pro.webp">
    </div>
    <div class="card__info row">
      <div class="card__item column">
        <h3 class="card__item-name">
          Смартфон OnePlus 10 Pro
        </h3>
        <ul class="card__item__prop">
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Экран:
            </span>
            <span class="card__item__prop-value">
              6.7" (3216x1440) AMOLED 120 Гц
            </span>
          </li>
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Фото:
            </span>
            <span class="card__item__prop-value">
              3 камеры, основная 48 МП
            </span>
          </li>
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Аккумулятор:
            </span>
            <span class="card__item__prop-value">
              5000 мА·ч
            </span>
          </li>
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Процессор:
            </span>
            <span class="card__item__prop-value">
              Qualcomm Snapdragon 8 Gen1
            </span>
          </li>
        </ul>
      </div>
      <div class="card__action column">
        <h4 class="card__action-title">
          <span class="card__action-price">39690</span>
          <i class="fa-solid fa-ruble-sign"></i>
        </h4>
        <button class="card__action-button">В корзину</button>
      </div>
    </div>
  </div>
  <div class="card row">
    <div class="card__image column">
      <img src="./assets/img/RealmeGT.webp">
    </div>
    <div class="card__info row">
      <div class="card__item column">
        <h3 class="card__item-name">
          Смартфон realme GT Master Edition
        </h3>
        <ul class="card__item__prop">
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Экран:
            </span>
            <span class="card__item__prop-value">
              6.43" (2400x1080) Super AMOLED 120 Гц
            </span>
          </li>
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Фото:
            </span>
            <span class="card__item__prop-value">
              3 камеры, основная 64 МП
            </span>
          </li>
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Аккумулятор:
            </span>
            <span class="card__item__prop-value">
              4300 мА·ч
            </span>
          </li>
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Процессор:
            </span>
            <span class="card__item__prop-value">
              Qualcomm Snapdragon 778G 5G
            </span>
          </li>
        </ul>
      </div>
      <div class="card__action column">
        <h4 class="card__action-title">
          <span class="card__action-price">17970</span>
          <i class="fa-solid fa-ruble-sign"></i>
        </h4>
        <button class="card__action-button">В корзину</button>
      </div>
    </div>
  </div>
  <div class="card row">
    <div class="card__image column">
      <img src="./assets/img/Iphone12ProMax.webp">
    </div>
    <div class="card__info row">
      <div class="card__item column">
        <h3 class="card__item-name">
          Смартфон Apple iPhone 12 Pro Max
        </h3>
        <ul class="card__item__prop">
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Экран:
            </span>
            <span class="card__item__prop-value">
              6.7" (2778x1284) OLED 60 Гц
            </span>
          </li>
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Фото:
            </span>
            <span class="card__item__prop-value">
              3 камеры, основная 12 МП
            </span>
          </li>
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Аккумулятор:
            </span>
            <span class="card__item__prop-value">
              3687 мА·ч
            </span>
          </li>
          <li class="card__item__prop-row">
            <span class="card__item__prop-name">
              Процессор:
            </span>
            <span class="card__item__prop-value">
              Apple A14 Bionic
            </span>
          </li>
        </ul>
      </div>
      <div class="card__action column">
        <h4 class="card__action-title">
          <span class="card__action-price">78800</span>
          <i class="fa-solid fa-ruble-sign"></i>
        </h4>
        <button class="card__action-button">В корзину</button>
      </div>
    </div>
  </div>
</div>

<!-- <script type="text/javascript" src="../static/js/header.js"></script> -->
